<!DOCTYPE html>
<html lang="pt-BR">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>Algoritmo Genético</title>

	<link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

	<div class="container">

		<div class="panel panel-primary main-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Algoritmo Genético</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal " method="POST">
					{% csrf_token %}
					<fieldset>

						<div class="row">
							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="palavra_1">1ª Palavra:</label>  
							<div class="col-md-8">
							<input id="palavra_1" name="palavra_1" type="text" placeholder="" class="form-control input-md">
							{{ form.errors.palavra_1 }}
							</div>
							</div>


							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="palavra_2">2ª Palavra:</label>  
							<div class="col-md-8">
							<input id="palavra_2" name="palavra_2" type="text" placeholder="" class="form-control input-md">
							{{ form.errors.palavra_2 }}
							</div>
							</div>

							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="palavra_3">3ª Palavra:</label>  
							<div class="col-md-8">
							<input id="palavra_3" name="palavra_3" type="text" placeholder="" class="form-control input-md">
							{{ form.errors.palavra_3 }}
							</div>
							</div>
						</div>

						<div class="row">
							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="populacao">Populaçao:</label>  
							<div class="col-md-8">
							<input id="populacao" name="populacao" type="text" placeholder="" class="form-control input-md">
							{{ form.errors.populacao }}
							</div>
							</div>

							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="geracao">Geração:</label>  
							<div class="col-md-8">
							<input id="geracao" name="geracao" type="text" placeholder="" class="form-control input-md">
							</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="metodo_selecao">Met. Seleção:</label>
							<div class="col-md-8">
							<select id="metodo_selecao" name="metodo_selecao" class="form-control">
							<option value="0" selected disabled>Selecionar ...</option>
							<option value="truncamento">Truncamento</option>
							<option value="torneio_simples">Torneio Simples</option>
							<option value="roleta">Roleta</option>
							<option value="torneio_estocastico">Torneio Estocástico</option>
							</select>
							{{ form.errors.metodo_selecao }}
							</div>
							</div>
						</div>

						<div class="row">
							<!-- Select Basic -->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="tour">Tour:</label>
							<div class="col-md-8">
							<select id="tour" name="tour" class="form-control">
							<option value="0" selected disabled>Selecionar ...</option>
							<option value="2">dois</option>
							<option value="3">três</option>
							</select>
							{{ form.errors.tour }}
							</div>
							</div>


							<!-- Select Basic -->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="crossover">Tx. Cross:</label>
							<div class="col-md-8">
							<input type="range" name="crossover" min="2" max="80" step="2" value="2" oninput="updateTxCrossover(this.value)">
							<span id="txCrossover">2 %</span>
							{{ form.errors.crossover }}
							</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="met_cross">Met. Cross:</label>
							<div class="col-md-8">
							<select id="met_cross" name="met_cross" class="form-control">
							<option value="0" selected disabled>Selecionar ...</option>
							<option value="pmx">Pmx</option>
							<option value="ciclico">Ciclico</option>
							</select>
							{{ form.errors.met_cross }}
							</div>
							</div>
						</div>

						<div class="row">
							<!-- Text input-->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="tx_mutacao">Tx. Mutação:</label>  
							<div class="col-md-8">
							<input type="range" name="tx_mutacao" min="1" max="10" step="1" value="1" oninput="updateTxMutacao(this.value)">
							<span id="txMutacao">1 %</span>
							{{ form.errors.tx_mutacao }}
							</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group col-md-4">
							<label class="col-md-4 control-label" for="met_reinsercao">Met. Reinserção:</label>
							<div class="col-md-8">
							<select id="met_reinsercao" name="met_reinsercao" class="form-control">
							<option value="0" selected disabled>Selecionar ...</option>
							<option value="uniforme">Uniforme</option>
							<option value="roleta">Roleta</option>
							<option value="roleta_elite">Roleta com Elite</option>
							</select>
							{{ form.errors.met_reinsercao }}
							</div>
							</div>
						</div>

						<!-- Button (Double) -->
						<div class="form-group button">
						<label class="col-md-4 control-label" for="button1id"></label>
						<div class="col-md-8">
						<button id="button1id" name="button1id" class="btn btn-success">Gerar</button>
						<button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
						</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		
		function updateTxCrossover (value) {
			txCrossover.textContent = value + ' %';
			
		};
		function updateTxMutacao (value){
			txMutacao.textContent = value + ' %';

		};

	</script>
</body>
</html>